body {
    background: #eee;
}

#filelist {
    display: block;
    padding: 10px;
    margin: 0 auto;
    width: 700px;
    background: #fff;
    -moz-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}

#filelist ul {
    list-style: none inside;
    margin:0;
    background: none;
    padding: 0;
    
}

#filelist ul li {
    width: 700px;
    margin: 0;
    border-bottom: 1px dashed #f0f0f0;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


#filelist ul li a {
    display:inline-block;
    padding: 10px;
    width: 650px;
    height: 1.5em;
    font-size: 2em;
    text-decoration: none;
    color: #555;
}

.gradient {
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fefefe, #fff); /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fefefe),color-stop(1, #fff)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#fefefe, #fff); /* Chrome 10+, Saf6 */
    background-image: linear-gradient(top, #fefefe, #fff);
}

.gradient:hover {
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #fefefe, #fff); /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fefefe),color-stop(1, #fff)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#fefefe, #fff); /* Chrome 10+, Saf6 */
    background-image: linear-gradient(top, #fefefe, #fff);
    background-image: none;
}

#editable {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: #333;
    white-space: pre-wrap;
    overflow: auto;
    width: 700px;
    min-height: 600px;
    background: #fff;
    margin: 0 auto;
    -moz-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}

a {
    z-index: 3;
}
a:hover {
    cursor: pointer !important;
}

#message {
    display: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
    white-space: pre-wrap;
    overflow: none;
    width: 700px;
    background: #fff;
    margin: 0 auto;
}

header {
    display: block;
    padding: 10px 10px 0px 10px;
    font-size: 18px;
    color: #ccc;
    white-space: pre-wrap;
    overflow: none;
    width: 700px;    
    background: #fff;
    margin: 0 auto;
    background: #fff;
    border-bottom:1px dashed #eee;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px ;
}
h1 {
    display:inline;
    color: #444;
    line-height: 1em;
    padding: 0 0 0 0;
    margin: 0;
    font-weight: normal;
}