$def with (items)
<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset=utf-8 /> 
<title>Index</title> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.edit.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/css/main.css" type="text/css"></link>
<link rel="shortcut icon" href="/static/favicon.ico"></link>
</head>
<body>
    <header>
        <h1>Index</h1>
    </header>
    <section id="filelist">
        <ul id="files">
        $for i in items:
            <li class='gradient' id='$i'><a href="/$i">$i</a></li>
        </ul>
    </section>
</body>
</html>